body{
background-color: white;
}

.Comprador{
    border: 3px solid rgb(95, 134, 206);s
    padding: 50px;
    border-radius: 5px;
    background-color: rgb(6, 124, 55);
    width: 500px;
    margin: 0 auto;
}

input{
    background-color: rgb(255, 255, 255);
    border: 3px solid red;
    border-radius: 5px;
    width: 200px;
    margin-bottom: 10px;
}

.BotonEnviar{
    background-color: none;
    border: none;
    border-radius: 5px;
    /*padding-top: 10px;*/
    /* border-top: 2px dashed white;*/
} 

.AcomodoLabel{
    display: inline-block;
    width: 80px;
}